body {
	min-height: 100vh;
	background-color: hsl(208deg 63.54% 89.61%);
}
main {
	padding: 20px 50px;
}
section {
	border-radius: 20px;
	background-color: white;
	// margin: 20px;
	// padding: 20px;
	min-height: 50vh;
	box-shadow: 0px 0px 4px 3px #fff;
}
