button {
	&.remove,
	&.plus,
	&.submit {
		border-width: 0px;
		padding: 4px 10px;
		border-radius: 6px;
		font-size: 1.1em;
		margin: auto 5px;
		transition:
			color 0.15s ease-in-out,
			background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out;
		@include gd-tablet-max {
			padding: 3px 5px;
			font-size: 1em;
		}
	}
	&.f {
		&--right {
			float: right;
		}
		&--left {
			float: left;
		}
		&--center {
			display: block;
			margin: auto;
		}
	}
	&.remove {
		background-color: #950000;
		box-shadow:
			1px 1px 0px 2px hsl(0, 53%, 17%),
			1px 1px 2px 2px hsla(0, 4%, 54%, 0.604);
		&:hover {
			box-shadow:
				1px 1px 2px 2px hsla(0, 4%, 54%, 0.604),
				-1px -1px 2px 2px hsl(0, 53%, 17%);
		}
	}
	&.plus {
		background-color: hsl($color_p2, 55%, 50%);
		box-shadow:
			1px 1px 0px 2px hsl($color_p2, 53%, 17%),
			1px 1px 2px 2px hsla(0, 4%, 54%, 0.604);
		&:hover {
			box-shadow:
				1px 1px 2px 2px hsla(0, 4%, 54%, 0.604),
				-1px -1px 2px 2px hsl($color_p2, 53%, 17%);
		}
	}
	&.submit {
		background-color: hsl($color_p, 52%, 67%);
		box-shadow:
			1px 1px 0px 2px hsl($color_p2, 6%, 32%),
			1px 1px 2px 2px hsla(0, 4%, 54%, 0.604);
		&:hover {
			background-color: hsl($color_p, 44%, 76%);
			box-shadow:
				1px 1px 2px 2px hsla(0, 4%, 54%, 0.604),
				-1px -1px 2px 2px hsl($color_p2, 3%, 41%);
		}
	}

	i {
		margin-right: 0;
	}
	&[type='submit'] {
		background-color: hsl($color_p2, 35%, 66%);
		box-shadow:
			1px 1px 0px 2px hsl($color_p2, 53%, 17%),
			1px 1px 2px 2px hsla(0, 4%, 54%, 0.604);
		&:hover {
			color: hsl($color_p2, 93%, 17%);
			background-color: hsl($color_p2, 56%, 80%);
			box-shadow:
				1px 1px 2px 2px hsla(0, 4%, 54%, 0.604),
				-1px -1px 2px 2px hsl($color_p2, 53%, 17%);
		}
	}
}
