// @media (prefers-color-scheme: dark) {
// 	body {
// 		color: white;
// 		background-color: black;
// 	}
// }
// @media (prefers-color-scheme: light) {
// 	body {
// 		color: black;
// 		background-color: rgb(180, 100, 100);
// 	}
// }

a {
	color: hsl(208, 54%, 20%);
	text-decoration: none;
}

h1,
h2 {
	font-family: 'Madimi One', sans-serif;
}
