@function calculate-font-size($level) {
	$base: calc($base-size / $h-max); // 6 correpond au total de h ("h1" à h6)
	$base: calc($base * $delta-size);

	$base: calc($base - $base-size);
	$base: calc($base / calc($h-max - 1)); // 6 correpond au total de h (h1 à h6)  - 1

	$levelNumber: calc($level - 1);

	$levelDelta: calc($levelNumber * $base);

	$calc: calc($base-size + $levelDelta);

	@return calc($calc * 1em);
}

@function calculate-letter-spacing($level) {
	$levelNumber: calc($level * 1);
	$diff: calc($base-spacing - $levelNumber);
	$max: max($diff, 1);
	@return calc($max * 1px);
}

@function calculate-font-size-mobil($level) {
	$base: calc($base-size-m / $h-max); // 6 correpond au total de h ("h1" à h6)
	$base: calc($base * $delta-size);

	$base: calc($base - $base-size-m);
	$base: calc($base / calc($h-max - 1)); // 6 correpond au total de h (h1 à h6)  - 1

	$levelNumber: calc($level - 1);

	$levelDelta: calc($levelNumber * $base);

	$calc: calc($base-size-m + $levelDelta);

	@return calc($calc * 1em);
}

@function calculate-letter-spacing-mobil($level) {
	$levelNumber: calc($level * 1);
	$diff: calc($base-spacing-m - $levelNumber);
	$max: max($diff, 1);
	@return calc($max * 1px);
}
